body {
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 24%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 24%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 24%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

header {
    margin: 10px 15px 0 15px;
    background-image: url("../assets/waves.jpeg");
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-shadow: 1px 1px lightseagreen;
}

.bigCard {
    background: hsla(152, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 2%, hsla(186, 100%, 69%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 2%, hsla(186, 100%, 69%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 2%, hsla(186, 100%, 69%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1 );
}


/*.coordinates {*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 10px;*/
/*    padding: 5px 10px;*/
/*    margin: 0;*/
/*    font-size: 11px;*/
/*    line-height: 18px;*/
/*    border-radius: 3px;*/
/*    display: none;*/
/*}*/
footer {
    background-color: grey;
    text-align: center;
    margin: 0 225px;
    border-radius: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

pre{
    color: grey;
}

.card {
    color: lightseagreen;
    justify-content: center;
}

.date-text {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;

}

.highText {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    font-size: .75em;
}

#weather-icon {
    width: 75px;
    height: 75px;
}

.lowText {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

.card-footer {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}



#map {
    border-radius: 10px;
}