/*body{*/
/*    background-image: url("../assets/lightning5.jpeg");*/
/*    background-size: cover;*/
/*}*/

header {
    margin: 10px 15px 0 15px;
    background-image: url("../assets/WallpaperFusion-lightning-storm-clouds-photo-1680x480.jpeg");
    padding: 30px;
    border-radius: 10px;
    color: navajowhite;
    font-family: 'Mochiy Pop P One', sans-serif;
    /*text-shadow: 1px 1px white;*/
}


/*.coordinates {*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 10px;*/
/*    padding: 5px 10px;*/
/*    margin: 0;*/
/*    font-size: 11px;*/
/*    line-height: 18px;*/
/*    border-radius: 3px;*/
/*    display: none;*/
/*}*/
footer {
    background-color: grey;
    text-align: center;
    margin: 0 225px;
    border-radius: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

pre{
    color: grey;
}

.card {
    color: mediumpurple;
    justify-content: center;
}

.date-text {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;

}

.highText {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    font-size: .75em;
}

#weather-icon {
    width: 75px;
    height: 75px;
}

.lowText {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

.card-footer {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}



#map {
    border-radius: 10px;
}