header {
    margin: 10px 15px 0 15px;
    background-image: url("../assets/WallpaperFusion-lightning-storm-clouds-photo-1680x480.jpeg");
    padding: 30px;
    border-radius: 10px;
    color: mediumpurple;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-shadow: 1px 1px white;

}

.card {
    color:mediumpurple;
}

.date-text {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;

}

.highText{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

.lowText{
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

.card-footer {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

#current-city {
    font-size: 0.75em;
}